@model EmployeeLeaveRequestListVM
@{
    ViewData["Title"] = "View Leave Requests";
    var isAdmin = User.IsInRole(SD.Role_Admin);
    var isSupervisor = User.IsInRole(SD.Role_Supervisor);
    var Role = isAdmin ? "Admin" : "Supervisor";
}



<h1>@Role Leave Request View </h1>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                <h1 class="card-title text-primary">@Model.TotalRequests</h1>
                <h5 class="card-text">@Html.DisplayNameFor(model=>model.TotalRequests)</h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                <h1 class="card-title text-success">@Model.ApprovedRequests</h1>
                <h5 class="card-text">@Html.DisplayNameFor(model => model.ApprovedRequests)</h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                <h1 class="card-title text-warning">@Model.PendingRequests</h1>
                <h5 class="card-text">@Html.DisplayNameFor(model => model.PendingRequests)</h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                <h1 class="card-title text-danger">@Model.DeclinedRequests</h1>
                <h5 class="card-text">@Html.DisplayNameFor(model => model.DeclinedRequests)</h5>
            </div>
        </div>
    </div>
</div>
<hr />  
<h2>Leave Requests</h2>
@if(Model.LeaveRequests.Count==0){
    <div class="alert alert-info">
        <h3>There are no requests at this time.</h3>
    </div>
}
else{
<div class="">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveRequests[0].LeaveType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveRequests[0].RequestStartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveRequests[0].RequestEndtDate)
                </th>
                <th>
                    Number Of Days
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveRequests[0].LeaveRequestStatus)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="">
            @foreach (var item in Model.LeaveRequests)
            {
                <tr>
                    <td>
                        @item.LeaveType?.Name
                    </td>
                    <td>
                            @item.RequestStartDate.ToString("yyyy/MM/dd")
                    </td>
                    <td>
                            @item.RequestEndtDate.ToString("yyyy/MM/dd")
                    </td>
                    <td>
                        @(item.RequestEndtDate.DayNumber - item.RequestStartDate.DayNumber)
                    </td>
                    <td>
                        @item.LeaveRequestStatus?.Name
                    </td>
                    <td>
                        @if (item.leaveRequestStatusId == SD.Request_Status_Pending)
                        {
                                <a asp-action="Review" asp-controller="LeaveRequest" asp-route-id="@item.Id" class="btn btn-primary">Review</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
}
